# This file contains example environment variables.
# For your development environment, create a `.env.local` file
# and add your actual credentials there.

# MongoDB Connection String from MongoDB Atlas
MONGODB_URI="mongodb+srv://<user>:<password>@<cluster-url>/<db-name>?retryWrites=true&w=majority"

# The name of the database to use.
MONGODB_DB="ledger_lite"
